@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap%27');

body {
    text-align: center;
    color: #232323;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f1e5;
    font-family: "Lexend", sans-serif;
    padding: 50px 0;
}

.dark {
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: thin;
}

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #232323;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 88px;
    height:88px;
    border: 1px solid #f7f1e5;
}
